name: Test Action
run-name: "[Test Action] Ref:${{ github.ref_name }} Event:${{ github.event_name }}"

on:
  workflow_dispatch: {}
  workflow_call:
    secrets:
      SDLC_SLACK_NOTIFICATIONS:
        required: true  
  pull_request: {}
  # pull_request_target: {} # Gives workflows excessive permissions. Not wanted.
  push: # Used for local testing.
    branches:
      - '**' 

jobs:   
  test-action:
    name: Test Action
    continue-on-error: true
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Detect workflow YAMLs
        shell: bash
        run: exit 1

      - name: Notify in Slack on failure
        if: failure()
        uses: nautilus-wraith/securesdlc-helpers/.github/actions/healthcheck@main
        with:
          github_workflow: ${{ github.workflow }}
          github_repository: ${{ github.repository }}
          github_run_id: ${{ github.run_id }}
          github_job: ${{ github.job }}
          step_conclusion: ${{ steps.failing.conclusion }}
          slack_webhook: ${{ secrets.SDLC_SLACK_NOTIFICATIONS }}          

